extends ../_shared/_master

block content
    p Game: #{context.name}
    P list of game instances to play with the time to start
        if context.instances
            each instance in context.instances
                case instance.players.length
                    when 5
                        div.unavaliable
                            |#{instance.startTime} #{instance.players.length}/#{context.maxPlayersCount}
                            form(action="/games/"+context.gameId+"/play/"+instance._id+"" method="get")
                                button Join Game
                    default
                        div.avaliable
                            |#{instance.startTime} #{instance.players.length}/#{context.maxPlayersCount}
                            form(action="/games/"+context.gameId+"/play/"+instance._id+"" method="get")
                                button Join Game
                                // if user is joined to be able to open after starts? and to write joined?
        div 
            form(action="/games/"+context.gameId+"/play" method="post")
                button Start New Game
    p Best players - TO DO